# URL de conexión a base de datos (MongoDB) ---
MONGO_URI="LOREM-IPSUM-DOLOR-SIT-AMET-CONSECTETUR-ADIPISCING-ELIT"

# Clave secreta de JWT
JWT_SECRET="LOREM-IPSUM-DOLOR-SIT-AMET-CONSECTETUR-ADIPISCING-ELIT"

# Tiempo de expiración del token
JWT_EXPIRES_IN=1h

# Puerto donde el servidor de Node.js escuchará las peticiones
PORT=3000

# Entorno de la aplicación
NODE_ENV=development

# URL del frontend para CORS
FRONTEND_URL=http://127.0.0.1:4173